[submodule "Assignments/assignment_1/Chat-App"]
	path = Assignments/assignment_1/Chat-App
	url = git@github.com:Praanshu98/Chat-App.git
[submodule "100x-Essentials"]
	path = 100x-Essentials
	url = git@github.com:Praanshu98/100x-Essentials.git
[submodule "Module_02_HTML/assignments/portfolio"]
	path = Module_02_HTML/assignments/portfolio
	url = git@github.com:Praanshu98/portfolio.git

[submodule "capstone_project/100x-MicroBlogging"]
	path = capstone_project/100x-MicroBlogging
	url = git@github.com:Praanshu98/100x-MicroBlogging.git
[submodule "Module_03_CSS/assignment/portfolio"]
	path = Module_03_CSS/assignment/portfolio
	url = git@github.com:Praanshu98/portfolio.git
[submodule "Module_03_CSS/assignment/portfolio_vanilla_css"]
	path = Module_03_CSS/assignment/portfolio_vanilla_css
	url = git@github.com:Praanshu98/portfolio_vanilla_css.git
[submodule "Module_05_Layouts/portfolio"]
	path = Module_05_Layouts/portfolio
	url = git@github.com:Praanshu98/portfolio.git
[submodule "Module_07_Javascript_Advanced/Post_Tweet_Using_Fetch"]
	path = Module_07_Javascript_Advanced/Post_Tweet_Using_Fetch
	url = https://github.com/Praanshu98/Post-Tweet-Using-Fetch
