[submodule "Assignments/assignment_1/Chat-App"]
	path = Assignments/assignment_1/Chat-App
	url = git@github.com:Praanshu98/Chat-App.git
[submodule "100x-Essentials"]
	path = 100x-Essentials
	url = git@github.com:Praanshu98/100x-Essentials.git
[submodule "Module_02_HTML/assignments/portfolio"]
	path = Module_02_HTML/assignments/portfolio
	url = git@github.com:Praanshu98/portfolio.git
